<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>42CheckIn</title>
	</head>
<body style="text-align: center;">
	<br><br><br>

	<h2>42CheckIn</h2>
	<div style="padding: 7px 38.5%; height: 100px;">
		<div style="float:left; border: solid black; border-radius: 10px; padding: 1rem 2rem;">
			<div style="font-size:2rem;">
				개포
			</div>
			<div>
				<%= gaepo_count %>명

			<%= user %>
			</div>
		</div>
		<div style="float:right; border: solid black; border-radius: 10px; padding: 1rem 2rem;">
			<div style="font-size:2rem;">
				서초
			</div>
			<div>
				<%= seocho_count %>명
			</div>
		</div>
	</div>

<div>
	<form action="/users/login" method="get">
		<h3>Login</h3>
		<div>
			<input style="padding: 7px 65px;
			background-color: cornflowerblue;
			border-radius: 10px;" type="submit" value="로그인 하기">
		</div>
	</form>
</div>

</body>

</html>
