<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>Auth</title>
	</head>
<body>

<div style="text-align: center;">
	<form action="/users/login" method="get">
		<!-- {% csrf_token %} -->
		<h3>Login</h3>
		<!-- <div>
			<input style="border-radius: 10px; padding: 0.2rem 20px" name="username" type="text">
			<br><br>
		</div>
		<div>
			<input style="border-radius: 10px; padding: 0.2rem 20px" name="pwd" type="password">
			<br><br>
		</div> -->
		<div>
			<input style="padding: 7px 65px;
			background-color: cornflowerblue;
			border-radius: 10px;" type="submit" value="로그인 하기">
		</div>
	</form>
	<!-- <form action="{% url 'auth:signup'%}" method="GET">
		{% csrf_token %}
		<div>
			<input style="padding: 7px 74px; background-color: cornflowerblue;
			border-radius: 10px; margin-top: 0.5rem;" type="submit" value="회원가입">
		</div>
	</form> -->
</div>

</body>

</html>
